<div class="row">
	<div class="forms col s12 b-town">
		<div class="in_forms">
			<%= form_for @pet do |f| %>	
				<%= f.label :name %>
				<%= f.text_field :name %>
				<br>
				<%= f.label :species %>
				<%= f.select :species, ['Dog', 'Cat'], {}, class: 'browser-default' %>
				<br>
				<div>
					<%= f.label :breed %>
					<%= f.text_field :breed %>
				</div>
				<div>
					<%= f.label :fur_type %>
					<%= f.text_field :fur_type %>
				</div>
				<div>
					<%= f.label :fur_color %>
					<%= f.text_field :fur_color %>
				</div>
				<div>
					<%= f.label :gender %>
					<%= f.select :gender, ['male', 'female'], {}, class: 'browser-default' %>
				</div>
				<div>
					<%= f.label :age %>
					<%= f.text_field :age %>
				</div>
				<div class="text-area">
					<%= f.label :profile %>
					<%= f.text_area :profile %>
				</div>
				<div>
					<%= f.label :available %>
					<%= f.select :available, [true, false] %>
				</div>
				<div>
					<%= f.label :image %>
					<%= f.file_field :image %>
				</div>
				<br>
				<%= f.submit :class => 'btn-small #eeeeee grey lighten-3' %>
			<% end %>	
		</div>
	</div>
</div>
				
				
				