
<h1>All the Pets</h1>
<div class="row">
	<% @pets.each do |pet| %>	
		<div class=''>
			<div class="col s12 m6 pull-left">
			  <div class="card">
				  <div class="card-title">
				   	<% if pet.image.file? %>
					   	<%= image_tag pet.image.url(:small) %>
					  <% end %>
						<%= link_to pet.name, pet_path(pet) %>
						<div class="card-action">
							<ul>
								<p><li>Breed: <%= pet.breed %></li></p>
								<p><li>Fur color: <%= pet.fur_color %></li></p>
								<p><li>Fur type: <%= pet.fur_type %></li></p>
								<p><li>Gender: <%= pet.gender %></li></p>
								<p><li>Age: <%= pet.age %></li></p>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</div>
	<% end %>
</div>

<%= link_to 'Home', root_path, class: 'btn-small #eeeeee grey lighten-3' %>