

<h1><%= @review.comments %></h1>
<h4><%= @review.category %></h4>



<div class="primary-footer">
  <%= link_to 'Edit List', edit_pet_review_path(@pet, @review), class:"waves-effect waves-light btn" %>
<% else %>
  <%= link_to 'Add item', new_pet_review_address_path(@pet, @review) %>
<% end %>

| <%= link_to 'Edit item', edit_pet_review_path(@pet, @review), class:"waves-effect waves-light btn"  %> |
</div>

<%= link_to 'Delete list', pet_review_path(@pet, @review), method: :delete, data: {confirm: 'Really Delete?'}, class:"waves-effect waves-light btn" %>
<br />
<%= link_to 'Back to list', pet_path(@list), class:"waves-effect waves-light btn"  %>
</div> 
