







<h1><%= @review.comments %></h1>
<h4><%= @review.category %></h4>



<div class="primary-footer">

  <%= link_to 'Edit comment',  edit_pet_review_path(@pet, @review), class:"waves-effect waves-light btn" %>

  <%= link_to 'Edit comment',  edit_pet_review_path(@pet, @review), class:"green-text text-darken-4", class:"waves-effect waves-light btn" %>
<% else %>
  <%= link_to 'Add comment', new_pet_review_address_path(@pet, @review) %>


| <%= link_to 'Edit comment', edit_pet_review_path(@pet, @review), class:"blue-text text-darken-4", class:"waves-effect waves-light btn"  %> |
</div>

<%= link_to 'Delete comment', pet_review_path(@pet, @review), method: :delete, data: {confirm: 'Really Delete?'}, class:"waves-effect waves-light btn" %>
<br />
<%= link_to 'Back to comments', pet_path(@list), class:"waves-effect waves-light btn"  %>
</div> 
