<!DOCTYPE html>
<html>
  <head>
    <title>Company</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/topnav' %>
    <% if !signed_in? %>
        <div class="col s12">
          <%=image_tag("cat4.jpeg", alt: "Cuddling Cat", class: 'responsive-img')%>
        </div>

    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
